.imageClass {
  height: 178px;
  width: 160px;
  margin-top: 10%;
  margin-left: 10%;
}

.label-class-title {
  margin-left: 5%;
  font-weight: bold;
}

.label-class-desc {
  margin-left: 5%;
  display: block;
}

.label-class-size {
  margin-left: 5%;
  display: block;
}
